<div class="container py-3 dark">
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">

            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="40"
                     height="32"
                     class="me-2"
                     viewBox="0 0 118 94"
                     role="img">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          fill="currentColor">
                    </path>
                </svg>
                <span class="fs-4">Boom Shop</span>
            </a>

            <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                {{#if isProducts}}
                 <a class="me-3 py-2 text-dark" href="/products"> Products</a>
                {{else}}
                  <a class="me-3 py-2 text-dark text-decoration-none" href="/products"> Products</a>
                {{/if}}
                
                {{#if isadd}}
                  <a class="me-3 py-2 text-dark " href="/add">Add</a>
                {{else}}
                  <a class="me-3 py-2 text-dark text-decoration-none" href="/add">Add</a>
                {{/if}}

                {{#if islogin}}
                    <button type="button" class="btn btn-primary active">
                        <a class="text-light text-decoration-none" href="/login">Login</a>                    
                    </button>                
                
                {{else}}
                    <button type="button" class="btn btn-primary">
                        <a class="text-light text-decoration-none" href="/login">Login</a>                    
                    </button>                
                {{/if }}

                {{#if isregister}}
                    <button type="button" class="btn btn-success active">
                        <a class="text-light text-decoration-none" href="/register">Register</a>
                    </button>         
                {{else}}
                    <button type="button" class="btn btn-success">
                        <a class="text-light text-decoration-none" href="/register">Register</a>
                    </button>
                 {{/if}}

                
                </div>
            </nav>

        </div>
    </header>
</div>