<div class="w-75 mx-auto">
    <p class="fs-1">Register</p>
    <form action="/Register" method="post">
    <div class="d-flex get-3">            
            <div class="form-floating mb-3 w- 50">
            <input type="text" class="form-control" name="firstname" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">first name</label>
            </div>
            <div class="form-floating mb-3 w-50">
            <input type="text" class="form-control" name="lastname" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Lastname</label>
            </div>            
            <div class="form-floating mb-3 ">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email </label>
            </div>
            <div class="form-floating">
            <input type="password" class="form-control" name="password" "floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            </div>
            <button type="submit" class="btn btn-primary mt-10 mb-50"  >   Register </button>
    </form>
</div>